body {
  margin: 0;
  font-family: "Open Sans", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, Arial, Courier, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  color: #333;
  word-wrap: break-word;
  text-align: center;
  height: 100%;
}
#main {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
}
.btn-signin {
  margin-left: auto;
  margin-right: auto;
  width: 190px;
}