<div class="how-to">
<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-3">
      <a class="text-center btn btn-block btn-social btn-lg btn-github" href="https://github.com/login/oauth/authorize?client_id=34c53dab4920c44f4c51">
        <span class="fa fa-github"></span> Sign in with GitHub
      </a>
    </div>
  </div>  
  <div class="row">
    <h2>New Activities</h2>
    <div class="col-sm-offset-3 col-sm-6">
    <% if @activities.empty? %>
      No live activity.
    <% else %>
      <ul class="social-class list-unstyled">
      <% @activities.each do |activity| %>
        <li>
          <code><a href="/activity/<%= activity.id %>"><%= activity.name %></a></code>
          <span class="social-hex"><%= activity.created_at.strftime("%Y/%m/%d %H:%M") %></span>
        </li>
      <% end %>
      </ul>
    <% end %>
    </div>
  </div>
</div>
</div>