<div class="how-to">
<div class="container">
  <div class="row">
    <h2>My Activities</h2>
    <div class="col-sm-offset-3 col-sm-6">
    <% if @activities.empty? %>
      No live activity.
    <% else %>
      <ul class="social-class list-unstyled">
      <% @activities.each do |activity| %>
        <li>
          <code><a href="/activity/<%= activity.id %>"><%= activity.name %></a></code>
          <span class="social-hex"><%= activity.created_at.strftime("%Y/%m/%d %H:%M") %></span>
        </li>
      <% end %>
      </ul>
    <% end %>
    </div>
  </div>
</div>
</div>