<div class="how-to">
<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <a href="/activity/new">New Activity</a>
    </div>
  </div>
</div>
</div>