<div class="how-to">
<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <form method="post" action="/activity/add">
        <legend>New Activity</legend>
        <input type="text" name="name" value="<%= @example_activity %>">
        <input type="text" name="content" value="">
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
        <input type="submit">
      </form>
    </div>
  </div>
</div>
</div>