<div class="container">
  <div class="row">
  	<div class="col-sm-offset-4 col-sm-4">
    <div class="avatar text-center">
      <img src="<%= @user.avatar_url %>">
    </div>
    <h2><%= @user.name %></h2>
    </div>
  </div>
</div>