<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/font-awesome.css" rel="stylesheet">
<link href="/css/docs.css" rel="stylesheet">
<link href="/css/bootstrap-social.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">

<div id="main">
  <h1 class="title">Where We Meet?</h1>

  <a class="btn btn-block btn-social btn-github btn-signin" href="https://github.com/login/oauth/authorize?client_id=34c53dab4920c44f4c51">
    <span class="fa fa-github"></span> Sign in with GitHub
  </a>
  <a class="btn btn-block btn-social btn-github btn-signin">
    <span class="fa fa-wechat"></span> Sign in with WeChat
  </a>
</div>