<!DOCTYPE html>
<html>
<head>
  <title>WhereWeMeet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/font-awesome.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
  <link href="/css/bootstrap-social.css" rel="stylesheet">
</head>
<body>

<div class="jumbotron">
  <div class="container">
    <h1 class="title">Where We Meet?</h1>
    <p>A web app to provide choice of place where we to meet.</p>
    <ul class="jumbotron-links">
      <li><a href="/">Home</a></li>
      <li><a href="/group">Groups</a></li>
      <li><a href="/activity">Activities</a></li>
      <li><a href="/user/info">Profile</a></li>
    </ul>
  </div>

</div>

<%= yield %>

</div>

<footer>
  <ul class="links">
  	<li><a href="/">Copyright &copy; WhereWeMeet</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/terms">Terms</a></li>
    <li><a href="/help">Help</a></li>
  </ul>
</footer>

</body>
</html>
